<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>D.M.Deller</string>
	<key>CFBundleDisplayName</key>
	<string>Searchmarks</string>
	<key>CFBundleIdentifier</key>
	<string>org.horizon-nigh.searchmarks.ext.safari</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1dev</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>Chrome</key>
	<dict>
		<key>Bars</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>bar.html</string>
				<key>Identifier</key>
				<string>searchmarks.bar</string>
				<key>Label</key>
				<string>Searchmarks</string>
			</dict>
		</array>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string></string>
				<key>Identifier</key>
				<string>searchmarks.button.toggle-bar</string>
				<key>Image</key>
				<string>logo 16x16.png</string>
				<key>Label</key>
				<string>Searchmarks</string>
				<key>Palette Label</key>
				<string>Searchmarks</string>
				<key>Tool Tip</key>
				<string>Show or hide the Searchmarks bar</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>inject.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>jquery/js/jquery-1.4.2.min.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>A toolbar to bring OpenSearch to Safari</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://dl.dropbox.com/u/123393/searchmarks-dev-update.plist</string>
	<key>Website</key>
	<string>http://github.com/dmdeller/searchmarks</string>
</dict>
</plist>
